@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    background: linear-gradient(145deg, #0f76b5, #1288cd, #005f7a, #014455);
    min-height: 100%;
    color: blanchedalmond;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-bottom: 3px solid black;
}

nav .left img{
    height: 8vw;
    width: 8vw;
    padding-left: 2vw;
    padding-top: 2vw;
}

nav .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    padding-left: 2vw;
    padding-top: 2vw;
    padding-right: 2vw;
}